@font-face {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 400;
   font-display: swap;
   /* font-display здесь записан мной, он выставляет очередь загрузки шрифтов ПОДРОБНО ЧИТАЙ*/
   src:
      url('../fonts/lato-v15-latin-regular.woff2') format('woff2'),
      url('../fonts/lato-v15-latin-regular.woff') format('woff');
}

@font-face {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 700;
   src:
      url('../fonts/lato-v15-latin-700.woff2') format('woff2'),
      url('../fonts/lato-v15-latin-700.woff') format('woff');
}

@font-face {
   font-family: 'Lato';
   font-style: normal;
   font-weight: 900;
   src:
      url('../fonts/lato-v15-latin-900.woff2') format('woff2'),
      url('../fonts/lato-v15-latin-900.woff') format('woff');
}


@font-face {
   font-family: 'SFProDisplay';
   font-style: normal;
   font-weight: 900;
   src:
      url('../fonts/SF-Pro-Display-Bold.woff') format('woff');
}